body {
  margin: 0;
  padding: 0;
}
.wraper {
  width: 90%;
  margin: 10px auto;
}
/****** Navigation styling *******/
.iso-nav {
  text-align: center;
}
ul  li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #5274a9;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
ul  li:hover {
  background: #5274a9;
  color: #fff;
}
/****** Main portfilio styling ********/

.main-iso {
  width: 100%;

}
.main-iso .item {
  width: 303px;
  float: left;
  margin-bottom: 10px;
}

.active {
  background: #5274a9;
  color: #fff;
}




/*isotop start:;*/

#container {
  margin: auto;
}

.grid-item {
  display: inline-block;
  height: 250px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  width: 250px;
}

.isotope-pager .pager {
  display: inline-block;
}


body{
  height: 100%;
  width:100%;
}


#home{
  height: 100vh;
  background-color: red;
  width: auto;

}
#about{
  height: 100vh;
  background-color: green;
  width: auto;
}

#contact{
  height: 100vh;
  background-color: yellow;
  width: auto;
}
#testi{
  height: 100vh;
  background-color: skyblue;
  width: auto;
}



/*go to top start*/

.go-top {
  position: fixed;
  bottom: 2em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  padding: 1em;
  display: none;

  text-align: center;
}

.go-top:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.go-top i{
  font-size: 50px;
  color: white;
  text-align: center;
}


#testi{
  padding: 60px 0px;
  content: "";
  position: relative;
  overflow: hidden;
  background: url(#{$image_path}/bg.jpg) no-repeat;
  background-size: cover ;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  color: $primary_color;

}




