// Fonts
$sansSerif  : 'Open Sans';

// Font Sizing
$baseFontSize      : 16px;
$baseLineHeight    : 1.5;
$headingLineHeight : 1.2;

// Colors
$black : rgba(51,51,51,1);
$red   : #d52b1e;
$blue  : #00a1de;

// Spacing
$pad : 1em;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;





$image_path:"../img";
$font_path:"../css";


$transparent: transparent;
$primary_color:#ffffff;
$secondary_color: #e78884;
$secondary_hover: #f1d48a;
$hover: #14b2bb;
$bg: #f9f9f9;
$font-color: #1a1a1a;
$bl:#000;
$cp:#222222;
$font-color2:#999999;
$img-shadow:#95e1d3;
$border:#EEEEEE;



$primary_2nd_color: #413d4b;
$secondary_color:#07cec3;
$secondary_hover:#100c2f;
$secondary_fild-color:#888;
$secondary_border-color:#999;
$secondary_h4: rgba(200, 206, 202, 0.2);
$submit_bg:rgba(0, 0, 0, 0.5);

$font-family-awesome:'Fontawesome';

$font-family-pt-srif: 'PT Serif', serif;
$font-family-pt:      $font-family-pt-srif;

$font-family-roboto: 'Roboto Slab', serif;
$font-family-robt:      $font-family-roboto;

$font-family-planq: 'Palanquin Dark', sans-serif;
$font-family-pd:      $font-family-planq;
$font-family-opensans: 'Open Sans', sans-serif;
$font-family-os:      $font-family-opensans;


$font_size:14px;